---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Menú - El Portal Gourmet">
    <section class="section">
        <h2>Plato del Día</h2>
        <div class="plato-dia">Arroz con Mariscos</div>
        <div class="descrpcion">
        <p>hola</p>
        </div>
        
        

        <h2>Opcionales</h2>
        <div class="plato-opcional">Ensalada Mixta</div>
        <div class="plato-opcional">Sopa del Día</div>

        <h2>Especiales</h2>
        <div class="plato-especial">Churrasco</div>
        <div class="plato-especial">Salmon</div>
        <div class="plato-especial">Gratinada</div>
        <div class="plato-especial">Mojarra</div>
        <div class="plato-especial">Mix de 3 Carnes</div>
        <div class="plato-especial">Pechuga Especial</div>
    </section>
</Layout>