<header>
    
    <div class="logo-header">
        <img src="/logo.png" alt="Logo" class="logo-redondo">
        <strong>El Portal Gourmet</strong>
    </div>

    <nav>
        <a href="/">
            <svg class="icono-nav" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/></svg>
            Inicio
        </a>
        
        <a href="/menu">
            <svg class="icono-nav" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M4 6h16v2H4zm0 5h16v2H4zm0 5h10v2H4z"/></svg>
            Menú
        </a>
        
        <a href="/galeria">
            <svg class="icono-nav" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M21 19V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14h18zM5 5h14v8l-3.5-3.5-4.5 4.5-2.5-2.5L5 13V5z"/></svg>
            Galería
        </a>
    </nav>

   <button id="toggleTema" class="boton-tema" title="Cambiar Modo"></button>
</header>


  